---
layout: default
onepage: true
services:
  - title: Civil
    icon: fa fa-file-text
    desc: Juicio Ejecutivo - Prescripción del CAE - Concursal (renegociación Superintendencia) - Contratos / Escrituras - Cambio de Nombre - Posesión efectiva - Tercerías - Indemnización de Perjuicios - Testamentos - Alzamientos de Prendas - Estudios de Títulos
    bg: /assets/images/@stock/service-item-1-bg.jpg
  - title: Familia
    icon: fa fa-heart
    desc: Divorcios - Compensación económica - Impugnaciones - Declaración de Bienes Familiares - Separaciónes Judiciales - Susceptibilidad de Adopciones - VIF.
    bg: /assets/images/@stock/service-item-2-bg.jpg
  - title: Policía Local
    icon: fa fa-bookmark-o
    desc: Ley de Tránsito - Ley del Consumidor - Ley de Copropiedad.
    bg: /assets/images/@stock/service-item-3-bg.jpg
  - title: Penal
    icon: fa fa-thumbs-o-up
    desc: Violencia Intrafamiliar - Delitos contra la propiedad - Delitos contra las personas.
    bg: /assets/images/@stock/service-item-4-bg.jpg
  - title: Comercial y Tributario
    icon: fa fa-calculator
    desc: Constitución / Modificación / Disolución de Sociedades - Asesoría completa de registros financieros y tributarios para el manejo de su empresa.
    bg: /assets/images/@stock/service-item-5-bg.jpg
  - title: Laboral
    icon: fa fa-file-excel-o
    desc: Acompañamiento desde la Mediación hasta la Audiencia de Juicio.
    bg: /assets/images/@stock/service-item-6-bg.jpg
  - title: Propiedad Intelectual
    icon: fa fa-lightbulb-o
    desc: Inscripción de Marca o Patente de Invención, además de patrocinio en caso de oposición.
    bg: /assets/images/@stock/service-item-4-bg.jpg
  - title: Asesoría Extrajudicial
    icon: fa fa-phone
    desc: Solución a tu problema sin tener que llegar a instancias judiciales.
    bg: /assets/images/@stock/service-item-3-bg.jpg
  - title: Support
    icon: fa fa-money
    desc: Asesoría completa en materia de contabilidad y gestión tributaria.
    bg: /assets/images/@stock/service-item-1-bg.jpg
works:
  - path: _works/diff-foods.md
  - path: _works/sketch-book.md
  - path: _works/tv-video.md
    style: wide
  - path: _works/umbrella-beauty.md
  - path: _works/amber.md
  - path: _works/explore.md
  - path: _works/uro-mag.md
    style: wide
  - path: _works/flowers.md
members:
  - avatar: /assets/images/@stock/member-7.png
    name: Lily Alejandra Candia Castro
    position: Socia Fundadora
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Abogada con Magíster en Derecho Tributario. Especialista en: Derecho Corporativo, Litigación en Juicios Laborales, Civiles, Familia, Penales, Juzgado de Policía Local y DDHH. También es especialista en Derecho inmobiliario, en materia de Estudios de Títulos, compra y venta de inmuebles"
  - avatar: /assets/images/@stock/member-9.png
    name: Sandy Araceli San Martín Rodriguez
    position: Socia Fundadora
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Licenciada en ciencias Jurídicas de la Universidad Santo Tomás. Especialista en Derecho Jurídico, Familia y Ley de Transito. Además de poseer experiencia en Litigacion de Juicios Civiles, Familia y en Juzgado de Policía Local."
  - avatar: /assets/images/@stock/member-8.png
    name: Diego Sebastián Martínez Martínez
    position: Socio Fundador
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Abogado de la Universidad Santo Tomás. Especialista en Derecho de Familia y Materias de Policía Local (Tránsito, ley del consumidor y le de copropiedad). Litigación en Juicios Laborales, Civiles, Familia, penales, Juzgado de Policía Local. "
team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png
  - /assets/images/@stock/client-7.png
  - /assets/images/@stock/client-2.png

  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-6.png
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/cover-video.optimized.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Somos un grupo de profesionales enfocados en:</p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Acercar el derecho </span><br/>
         <span class="sec">a las personas</span><br/>
      </h1>
      <h2 class='thin'>
       Queremos hacer comprensibles las leyes a nuestros clientes y ayudarlos ante cualquier tema judicial.
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='#contact'>Contáctanos</a>
      </h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Qué hacemos</p>
        <h2>
          Acercar las leyes   <br/>
          a todas las personas
        </h2>
        <p class="big-size">Te guiaremos y explicaremos el paso a paso para la solución de tus problemas.</p>
        <div class="four spacing"></div>
        <img src="/DerechoContigo/assets/images/logo-black.png" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>
<div class="full no-overflow no-padding parallax">
  <img src="assets/images/@stock/about-1.jpg" style="width: 100%; height: auto">
</div>


<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Nuestros Servicios</p>
        <h2>Las leyes en fácil.</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h2 class="white">¿Tienes un problema legal?</h2>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='#contact'>¡Hablemos!</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>


<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="El equipo" title="Hola! Estamos aquí para asesorarte." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-4 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-4 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>



<div class="four spacing"></div>
<a id='contact'></a>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v10.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution="setup_tool"
        page_id="115396707054184">
      </div>
{% include contact-form.html %}

{% include social-networks.html %}
