<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Contacto" title="¿Tienes alguna duda? ¡Contáctanos!" %}
    </div>
    <div class='four spacing'></div>
    <div class='large-8 medium-8 columns'>
      <div class='form'>
        <div class='row'>
          <form
    action="https://formspree.io/f/xzbydjgl"
    method="POST"
  >
  <div class='medium-12 columns'>
            <input class='required' name='name' placeholder='NOMBRE' type='text'>
            <input class='required email' name='email' placeholder='EMAIL' type='text'>
            <input class='required' name='subject' placeholder='ASUNTO' type='text'>
            <textarea class='required' name='message' placeholder='MENSAJE'></textarea>
            <input name="recipient" type="hidden" value="{{ site.email }}" />
            <div class='spacing'></div>

    <!-- your other form fields go here -->

    <button type="submit">Send</button>
  </form>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
    <div class='large-4 medium-4 columns'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>
        <div class='contact-details'>
          <div class='content'>
            <h4>Nuestras oficinas:</h4>
            <p>Santiago, CHILE</p>
            <h4>Teléfono 1:</h4>
            <p>+56 9 8211 8009</p>
            <h4>Teléfono 2:</h4>
            <p>+56 9 2033 9882</p>
            <h4>MAIL</h4>
            <p>contacto.derechocontigo
            @gmail.com</p>
          </div>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
  </div>
</div>
