<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Contacto" title="¿Tienes alguna duda? ¡Contáctanos!" %}
    </div>
    <div class='four spacing'></div>
    <div class='large-8 medium-8 columns'>
      <div class='form'>
        <div class='row'>
          <form id='contact_form' class='dark' method='POST'>
            <div class='large-12 columns'>
              <p id='thanks'>
                Gracias por ponerte en contacto con nosotros. ¡Te responderemos a la brevedad!
              </p>
            </div>
            <div class='medium-12 columns'>
              <input class='required' name='name' placeholder='NOMBRE' type='text'>
              <input class='required email' name='email' placeholder='EMAIL' type='text'>
              <input class='required' name='subject' placeholder='ASUNTO' type='text'>
              <textarea class='required' name='message' placeholder='MENSAJE'></textarea>
              <input name="recipient" type="hidden" value="{{ site.email }}" />
              <div class='spacing'></div>
              <input class='button white' type='submit'>
            </div>
          </form>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
    <div class='large-4 medium-4 columns'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>
        <div class='contact-details'>
          <div class='content'>
            <h4>Nuestras oficinas:</h4>
            <p>Avenida Siempre Viva 123, Santiago, CHILE</p>
            <h4>Teléfono 1:</h4>
            <p>+56 9 8211 8009</p>
            <h4>Teléfono 2:</h4>
            <p>+56 9 2033 9882</p>
            <h4>Email:</h4>
            <p>info@derechocontigo.cl</p>
          </div>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
  </div>
</div>
