<div class="full no-padding dark">
  <div class="four spacing"></div>
  <div id="footer" class='centered-text'>
    <div class='row'>
      <div class='large-12 columns'>
        <h4>©{{site.time | date: "%Y" }} Links de Interés.</h4>
        <a href='https://claveunica.gob.cl/'>Clave Única /</a>
        <a href='https://ojv.pjud.cl/kpitec-ojv-web/tramite_facil'>Trámite Fácil /</a>
        <a href='https://www.registrocivil.cl/principal/servicios-en-linea'>Certificados en Línea /</a>
        <a href='https://homer.sii.cl/'>SII /</a>
        <a href='https://www2.pjud.cl/web/guest/consulta-ciudadana'>Consulta Ciudadana /</a>
      </div>
    </div>
  </div>
  <div class="four spacing"></div>
</div>


{% for path in site.data.assets.js %}

  {%- if path contains '://' -%}
    {%- assign src = path -%}
  {%- else -%}
    {%- assign src = path | relative_url -%}
  {%- endif -%}

  <script src="{{ src }}" type="text/javascript"></script>
{% endfor %}
