{% if page.onepage %}
  {% assign classname= '' %}
{% else %}
  {% assign classname='bg-black' %}
{% endif %}

<div class='transparent fullwidth white fixed contain-to-grid {{ classname }}'>
  <nav class='top-bar onepage' data-options='' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{ 'index.html' | relative_url }}'>
            <img width="126" height="48" alt="" src="{{ "/assets/images/logo-3.png" | relative_url }}" />
          </a>
        </h1>
      </li>
    </ul>
    <div id="menu-toggler" class="right">
      <a href='#'>
        <i class="fa fa-bars"></i>
        Menu
      </a>
    </div>
    <section class='top-bar-section open'>
      <ul class='right'>


          <li>




            <a href="#top">Home</a>
          </li>

          <li>




            <a href="#about">Qué Hacemos</a>
          </li>

          <li>




            <a href="#services">Servicios</a>
          </li>


          <li>




            <a href="#team">Equipo</a>
          </li>


          <li>




            <a href="#contact">Contacto</a>
          </li>

      </ul>
    </section>
  </nav>
</div>
