
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Derecho Contigo</title>
  <meta name="description" content="¿Necesitas ayuda judicial? Somos un grupo de abogados que queremos hacer más fácil el entendimiento de las leyes.">

  <link rel="stylesheet" href="style.css", type="text/css">
  <link rel="stylesheet" href="assets/css/foundation.css">
  <link rel="stylesheet" href="assets/css/patch.css">
  <link rel="stylesheet" href="assets/css/fontello.css">
  <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700,300">

  <link rel="alternate" type="application/rss+xml" title="Derecho Contigo" href="/feed.xml">

</head>
